body {
    height: 100vh;
    width: 100%;
}

canvas {
    border: 1px solid #7e7e7e;
    border-radius: 4px;
    height: 300px;
    width: 550px;
    display: flex;
    box-shadow: 3px 3px 5px 6px rgb(150, 150, 150);
}

.main-div {
    display: flex;
    flex-direction: row;
}

.s1-3 {
    height: 100%;
    width: 20%;
    overflow: auto;
    float: left;
}

.s2-3 {
    position: relative;
    height: 100%;
    width: 80%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/desk.jpg");
    background-size: cover;
}

#bubble {
    z-index: 1;
}

.bubble-back-container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.bubble-back {
    font-size: 35px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    font-family: 'Baloo Tamma 2', cursive;
    color: white;
}

.opacity {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: orange;
    opacity: 0.8;
    padding: 20px;
    border-radius: 3px;
}

.bubble-back div:not(:first-child) {
    color: white;
    z-index: 6;
}


